
body {
  background-color:rgb(87, 75, 87);
  font-family:'vazir','tahoma','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav{
  background-color: rgb(163, 144, 180) !important;
  height: 50px;
}
input[type="search"]{
  background-color: #cdc5d8 !important;
  border: 1px solid #404e79;
  height: 35px;
}
input[type="search"]::-webkit-input-placeholder{
  color: #637199;
}
button[type="submit"]{
  color: #404e79 !important;
  background-color: #4a9b5f !important;
  height: 35px;

}
.container-fluid{
  background-color: #282a36!important;
}