
body {
  background-color:rgb(68, 51, 68);
  font-family:'Vazir','Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav{
  background-color: #64677c !important;
  height: 50px;
}
input[type="search"]{
background-color:#64677c!important;
  border: 1px solid #202636;
  height: 35px;
}
input[type="search"]::-webkit-input-placeholder{
  color: #444d66;
}
button[type="submit"]{
  color: #404e79 !important;
  background-color: #4a9b5f !important;
  height: 35px;

}
.container-fluid{
  background-color: #282a36!important;
}
.card{
  background-color: #202636;
  color: #64677c;
}
ul,li{
  background-color:#202636 ;
  color: #64677c;
}
.card{
  width: 400px;
  height: 650px;
}
input{
border:  2px solid rgb(77, 17, 77) !important;
}